In [1]:
import pandas as pd

import warnings

warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
df_cerved = pd.read_csv(
    filepath_or_buffer = '../Data/DatiCerved.CSV'
    , delimiter = ';')

df_cerved

,COD_CLIENTE,NATURA_GIURIDICA,PV,CODICE_ISTAT,FIDO_PAYLINE,DECISIONE,VALUTAZIONE_TEMPI_PAG,GG_PATTUITI,GG_RITARDO,FATTURATO,FATTURATO_MESE,CLASSE_RISCHIO,CLASSE_RISCHIO_DESCR
0,114900030,S.r.l.,PR,2562/07,40200.0,Accordabile,Regolari,21.0,0.0,"4310,3","702,83",4,Affidabile
1,115000010,S.n.c.,PR,561011/07,0.0,Non accordabile,Prevalentemente regolari,23.0,27.0,"8035,31","971,39",2,Cautela
2,115000017,S.r.l.,PR,33125/07,0.0,Non accordabile,Regolari,23.0,35.0,"79858,63","12962,18",2,Cautela
3,115000028,S.a.s.,PR,791/07,0.0,Non accordabile,NaN,25.0,2329.0,"1477,01",0,6,Non operativa
4,115000030,Coop.,PR,8891/07,2500.0,Accordabile,Regolari,-1.0,-1.0,"613,62",0,4,Affidabile
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12723,90800025,Indiv.,PC,82994/07,0.0,Non accordabile,Regolari,21.0,0.0,"443,31","0,57",6,Non operativa
12724,90800057,S.r.l.u.s.,PC,4771/07,0.0,Non accordabile,Ritardi significativi,21.0,1789.0,"4912,98",0,6,Non operativa
12725,90800145,S.a.s.,PC,4711/07,0.0,Non accordabile,NaN,54.0,2111.0,"9863,91",0,6,Non operativa
12726,90800213,S.r.l.,PC,71121/07,0.0,Non accordabile,Regolari,21.0,1788.0,"202,01",0,1,Non affidabile
12727,91106,S.r.l.,TO,46491/07,196000.0,Accordabile,Prevalentemente regolari,30.0,-2.0,6627,0,4,Affidabile

In [3]:
df_fatture = pd.read_csv(
    filepath_or_buffer = '../Data/ElencoFatture.CSV'
    , delimiter = ','
    , decimal = ','
    , date_parser = True
)

df_fatture

C:\Users\fsassi\AppData\Local\Temp\ipykernel_40828\146122741.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_fatture = pd.read_csv(

,CodiceCliente,AnnoDocumento,NumeroDocumento,Servizio,ScadenzaFattura,ImportoFattura,ModPagamento,DescrizionePagamento,DataIncasso,ImportoIncasso,Saldo
0,470843753,2021,300377,EE,2021-05-13 00:00:00.000,1482.55,G20,20 gg data emissione fattura,2021-05-13 00:00:00.000,1482.55,0.00
1,6103959,2022,132551,Gas,2022-02-28 00:00:00.000,26656.50,G20,20 gg data emissione fattura,2022-02-28 00:00:00.000,26656.50,0.00
2,470843720,2021,494178,EE,2021-08-23 00:00:00.000,543.28,G30,30 gg data emissione fattura,2021-08-23 00:00:00.000,543.28,0.00
3,20016230,2021,502473,Gas,2021-08-31 00:00:00.000,964.09,G20,20 gg data emissione fattura,2021-08-31 00:00:00.000,964.09,0.00
4,20012957,2021,529261,EE,2021-10-12 00:00:00.000,231.19,G20,20 gg data emissione fattura,2021-10-12 00:00:00.000,231.19,0.00
...,...,...,...,...,...,...,...,...,...,...,...
203458,470851781,2021,398661,EE,2021-07-13 00:00:00.000,73.70,G20,20 gg data emissione fattura,NaN,NaN,-73.70
203459,470802889,2022,150450,EE,2022-03-14 00:00:00.000,163.20,G20,20 gg data emissione fattura,NaN,NaN,-163.20
203460,470828677,2022,145458,Gas,2022-03-10 00:00:00.000,10027.59,G30,30 gg data emissione fattura,NaN,NaN,-10027.59
203461,470836041,2022,149801,EE,2022-03-14 00:00:00.000,2471.92,G20,20 gg data emissione fattura,NaN,NaN,-2471.92
203462,470849029,2022,153861,EE,2022-03-14 00:00:00.000,52.50,G20,20 gg data emissione fattura,NaN,NaN,-52.50

In [4]:
Cerved_codCliente = pd.Series(df_cerved.COD_CLIENTE.unique())

Fatture_codiceCliente = pd.Series(df_fatture.CodiceCliente.unique())

ListaCodCliente = Cerved_codCliente.append(Fatture_codiceCliente).unique()

nuovoID = 1

for Codice in ListaCodCliente:
    df_cerved.COD_CLIENTE.replace(
        to_replace = Codice
        , value = nuovoID
        , inplace = True
    )
    
    df_fatture.CodiceCliente.replace(
        to_replace = Codice
        , value = nuovoID
        , inplace = True
    )
    
    nuovoID += 1
    
df_cerved.head(5)

,COD_CLIENTE,NATURA_GIURIDICA,PV,CODICE_ISTAT,FIDO_PAYLINE,DECISIONE,VALUTAZIONE_TEMPI_PAG,GG_PATTUITI,GG_RITARDO,FATTURATO,FATTURATO_MESE,CLASSE_RISCHIO,CLASSE_RISCHIO_DESCR
0,1,S.r.l.,PR,2562/07,40200.0,Accordabile,Regolari,21.0,0.0,"4310,3","702,83",4,Affidabile
1,2,S.n.c.,PR,561011/07,0.0,Non accordabile,Prevalentemente regolari,23.0,27.0,"8035,31","971,39",2,Cautela
2,3,S.r.l.,PR,33125/07,0.0,Non accordabile,Regolari,23.0,35.0,"79858,63","12962,18",2,Cautela
3,4,S.a.s.,PR,791/07,0.0,Non accordabile,NaN,25.0,2329.0,"1477,01",0,6,Non operativa
4,5,Coop.,PR,8891/07,2500.0,Accordabile,Regolari,-1.0,-1.0,"613,62",0,4,Affidabile

In [5]:
df_cerved.to_csv(path_or_buf='../Data/DatiCervedAnonimo.csv',index=False)

df_fatture.to_csv(path_or_buf='../Data/ElencoFattureAnonimo.csv',index=False)

In [6]:
df_cervedAnonimo = pd.read_csv(filepath_or_buffer='../Data/DatiCervedAnonimo.csv')

df_cervedAnonimo.head()

,COD_CLIENTE,NATURA_GIURIDICA,PV,CODICE_ISTAT,FIDO_PAYLINE,DECISIONE,VALUTAZIONE_TEMPI_PAG,GG_PATTUITI,GG_RITARDO,FATTURATO,FATTURATO_MESE,CLASSE_RISCHIO,CLASSE_RISCHIO_DESCR
0,1,S.r.l.,PR,2562/07,40200.0,Accordabile,Regolari,21.0,0.0,"4310,3","702,83",4,Affidabile
1,2,S.n.c.,PR,561011/07,0.0,Non accordabile,Prevalentemente regolari,23.0,27.0,"8035,31","971,39",2,Cautela
2,3,S.r.l.,PR,33125/07,0.0,Non accordabile,Regolari,23.0,35.0,"79858,63","12962,18",2,Cautela
3,4,S.a.s.,PR,791/07,0.0,Non accordabile,NaN,25.0,2329.0,"1477,01",0,6,Non operativa
4,5,Coop.,PR,8891/07,2500.0,Accordabile,Regolari,-1.0,-1.0,"613,62",0,4,Affidabile

In [7]:
df_fattureAnonimo = pd.read_csv(filepath_or_buffer='../Data/ElencoFattureAnonimo.csv')

df_fattureAnonimo.head()

C:\Users\fsassi\AppData\Local\Temp\ipykernel_40828\3623891910.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_fattureAnonimo = pd.read_csv(filepath_or_buffer='../Data/ElencoFattureAnonimo.csv')

,CodiceCliente,AnnoDocumento,NumeroDocumento,Servizio,ScadenzaFattura,ImportoFattura,ModPagamento,DescrizionePagamento,DataIncasso,ImportoIncasso,Saldo
0,8995,2021,300377,EE,2021-05-13 00:00:00.000,1482.55,G20,20 gg data emissione fattura,2021-05-13 00:00:00.000,1482.55,0.0
1,11639,2022,132551,Gas,2022-02-28 00:00:00.000,26656.50,G20,20 gg data emissione fattura,2022-02-28 00:00:00.000,26656.50,0.0
2,8985,2021,494178,EE,2021-08-23 00:00:00.000,543.28,G30,30 gg data emissione fattura,2021-08-23 00:00:00.000,543.28,0.0
3,1693,2021,502473,Gas,2021-08-31 00:00:00.000,964.09,G20,20 gg data emissione fattura,2021-08-31 00:00:00.000,964.09,0.0
4,1147,2021,529261,EE,2021-10-12 00:00:00.000,231.19,G20,20 gg data emissione fattura,2021-10-12 00:00:00.000,231.19,0.0